/*Colors*/
$darkest: #090a0a;
$background: #e5e5e5;
$light: #72777a;
$gray: #b3b3b3;
$dark-gray: #484848;
$table-hover-color: rgba(79, 117, 194, 0.21);
$table-border-color: #7e7e7e;
$button: #204080;
$button-hover: #4f75c2;
$placeholder-color: rgba(165, 155, 155, 0.6);
$result-item-gray: #72777a;
$card-gray: #6c7072;
/*Font sizes*/
$fs-1: 32px;
$fs-2: 24px;
$fs-3: 18px;
$fs-4: 16px;
$fs-5: 14px;
$fs-6: 12px;
